include LICENSE.txt
include README.md
include CHANGELOG.md
include CMakeLists.txt

recursive-include galaxychop *.dat
recursive-include galaxychop *.npy
recursive-include galaxychop *.f90

recursive-exclude docs *
recursive-exclude legacy *
recursive-exclude legacy_test *
recursive-exclude resource *
recursive-exclude tests *
recursive-exclude tools *

exclude tox.ini
exclude pyproject.toml
exclude requirements_dev.txt
exclude .header-template
exclude .readthedocs.yml
