ipykernel
ipython
custom_inherit
Sphinx
sphinx-rtd-theme
nbsphinx
m2r2
mistune==0.8.4
nbconvert==6.5.3
lxml_html_clean

# Científicas: distintas según versión de Python
numpy>=2.0; python_version >= "3.9"
numpy<2.0; python_version < "3.9"

pandas>=2.0; python_version >= "3.9"
pandas<2.0; python_version < "3.9"

numba>=0.59; python_version >= "3.9"
numba<0.59; python_version < "3.9"

scipy>=1.0
h5py
joblib
seaborn
astropy
grispy
uttrs
